@keyframes rainbow {
  0%  {background: red}
  20% {background: orange}
  40% {background: yellow}
  60% {background: green}
  80% {background: blue}
  100% {background: indigo}
}

@keyframes circle {
  from {transform: rotateZ(0deg)}
  to {transform: rotateZ(360deg)}
}

@keyframes bounce {
  0% {transform: translateY(10px)}
  50% {transform: translateY(-10px)}
  100% {transform: translateY(10px)}
}

@keyframes scale {
  0% {transform: translateX(0px)}
  50% {transform: translateX(50px)}
  100% {transform: translateX(0px)}
}
@keyframes bigBounce {
  0% {transform: translateY(0px)}
  50% {transform: translateY(500px)}
  100% {transform: translateY(0px)}
}

@keyframes rotate {
  0% {transform: scale(1) rotate3d(1, 1, 0, 0deg)}
  50% {transform: scale(2) rotate3d(1, 1, 0, -180deg)}
  100% {transform: scale(1) rotate3d(1, 1, 0, -360deg)}
}

@keyframes pulse {
  0% { transform: scale(1.1) }
  25% { transform: scale(0.8) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1.1) }
}

@keyframes passing {
  0% {transform:translateX(-50%); opacity:0}
 25% {transform:translateX(0%); opacity:1}
 50% {transform:translateX(50%); opacity:0}
 100% {transform:translateX(50%); opacity:0}
}

body{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.nav{
  background-color: gray;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom:  30px;
  animation: rainbow 3s reverse infinite;
}

.nav a{
  text-decoration: none;
  color: white;
}

.home:hover{
	animation: rotate 0.7s linear both;
}

.about:hover{
  animation: pulse 4s linear infinite;
  transform-origin: 50% 50%;
  color: black;
  transition: color 2s;
}

.contact:hover{
  animation: passing 4s linear infinite;
  transform-origin: 50% 50%;
}


.boxOne{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.boxOne:hover{
  background-color: yellow;
  transition: 5s;
  animation: bounce .5s infinite;
}

.boxTwo{
  width: 100px;
  height: 100px;
  background-color: red;
}

.boxTwo:hover{
  border-radius: 100%;
  transition: 3s;
}

.boxThree{
  width: 200px;
  height: 200px;
  border: 2px dashed black;
  border-radius: 100%;
  background: red;
  animation: rainbow 5s infinite, circle 5s linear infinite;
}

.boxThree:hover{
  animation-play-state: paused;
}

.boxFour{
  width: 100px;
  height: 100px;
  background-color: black;
  transition: width 2s, height 2s;
}

.boxFour:hover{
  width: 300px;
  height: 300px;
  animation: scale 1s linear infinite;
}
